{% extends "base.html" %}

{% block titulo  %}
    Publicar anuncio
{% endblock %}

{% block contenido_principal %}
    <!-- Header -->
    <section style="border-bottom: 2px solid #10A284">
        <h1 class="text-uppercase" style="margin-top: 0px">Publicar anuncio</h1>
        <blockquote>
            <p>Introduce la información del anuncio</p>
        </blockquote>
    </section>
    
    <div class="container-fluid" style="margin-top: 20px;">
        <!-- Formulario de publicacion -->
        <form method="post" action="/anuncios/publicar" class="form-horizontal" 
              enctype="multipart/form-data" >
            <div class="form-group">
                <label class="col-sm-2 control-label" for="titulo">Título</label>
                <div class="col-sm-6">
                    <input name="titulo" type="text" id="titulo" class="form-control" 
                           placeholder="Título" minlength="10" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="categoria">Categoría</label>
                <div class="col-sm-6">
                    <select name="categoria" id="categoria" class="form-control" required>
                        {% for cat in categorias %}
                            <option value="{{cat}}">{{cat}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="descripcion">Descripción</label>
                <div class="col-sm-6">
                    <textarea name="descripcion" id="descripcion" class="form-control"
                        rows="5" placeholder="Descripcion" minlength="50" required></textarea>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="col-sm-2 control-label" for="precio">Precio</label>
                <div class="col-sm-6">
                    <input name="precio" type="number" id="precio" class="form-control" 
                           min="1" placeholder="50" required>
                    <span class="form-control-feedback">€</span>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="col-sm-2 control-label" for="edad">Edad</label>
                <div class="col-sm-6">
                    <input name="edad" type="number" id="edad" class="form-control" 
                           min="0" placeholder="2" required>
                    <span class="form-control-feedback" style="margin-right: 5px;">
                        Años</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="municipio">Municipio</label>
                <div class="col-sm-6">
                    <input name="municipio" type="text" id="text" class="form-control" 
                           placeholder="León" minlength="2" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="tipo">Tipo</label>
                <div class="col-sm-6">
                    <select name="tipo" id="tipo" class="form-control" required>
                        <option value="oferta">oferta</option>
                        <option value="estandar">estandar</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="imagenes">Fotografías</label>
                <div class="col-sm-6" id='imagenes'>
                    <input type='file' accept='image/*' name='imagen1' 
                           style="margin-bottom: 5px;" required/>
                    <input type='file' accept='image/*' name='imagen2'
                           style="margin-bottom: 5px;"/>
                    <input type='file' accept='image/*' name='imagen3' 
                           style="margin-bottom: 5px;"/>
                    <input type='file' accept='image/*' name='imagen4' 
                           style="margin-bottom: 5px;"/>
                    <p class="help-block">Subir al menos la primera imagen</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-lg btn-primary">Publicar</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts  %}
    <script>
        $(function() {
            $("#nav_publicar").addClass("active");
        });
    </script>
{% endblock %}
